In [1]:
import pandas as pd
import numpy as np

import nltk 
from nltk.corpus import wordnet as wn

from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from nltk.corpus import wordnet_ic

In [2]:
pos_df = pd.read_csv('po.csv',header=None)
pos_df.columns=['POs']
pos_df.shape

(12, 1)

In [3]:
pos_df.head()

                                                 POs
0  Engineering knowledge: Apply the knowledge of ...
1  Problem analysis: Identify, formulate, review ...
2  Design/development of solutions: Design soluti...
3  Conduct investigations of complex problems: Us...
4  Modern tool usage: Create, select, and apply a...

In [4]:
po_tokens=[]
for po in pos_df['POs']:
    po_tokens.append(word_tokenize(po.lower()))

In [5]:
print(pos_df['POs'][0])

Engineering knowledge: Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.

In [6]:
print(po_tokens[0])

['engineering', 'knowledge', ':', 'apply', 'the', 'knowledge', 'of', 'mathematics', ',', 'science', ',', 'engineering', 'fundamentals', ',', 'and', 'an', 'engineering', 'specialization', 'to', 'the', 'solution', 'of', 'complex', 'engineering', 'problems', '.']

In [7]:
eng_stopwords = stopwords.words('english')
eng_stopwords.extend([',','.',"'",":"])

In [8]:
words = []
for list_1 in po_tokens:
    main_words = []
    for word in list_1:
        if word not in eng_stopwords:
            if word not in main_words:
                main_words.append(word)
    words.append(main_words)

In [9]:
print(words[0])

['engineering', 'knowledge', 'apply', 'mathematics', 'science', 'fundamentals', 'specialization', 'solution', 'complex', 'problems']

In [10]:
wnet = WordNetLemmatizer()

In [11]:
for i in range(len(words)):
    for j in range(len(words[i])):
        lemm = wnet.lemmatize(words[i][j], pos='v')
        words[i][j] = lemm

In [12]:
print(words[0])

['engineer', 'knowledge', 'apply', 'mathematics', 'science', 'fundamentals', 'specialization', 'solution', 'complex', 'problems']

In [13]:
po_synonym=[]
for i in range(len(words)):
    po_syn = []
    for j in range(len(words[i])):
        for syn in wn.synsets(words[i][j]): 
#             print("--WORD-- : ",words[i][j])
            if syn not in po_syn:
#                 print("syn : ",syn.name())
                po_syn.append(syn)
    po_synonym.append(po_syn)

In [14]:
print(po_synonym[0])

[Synset('engineer.n.01'), Synset('engineer.n.02'), Synset('engineer.v.01'), Synset('mastermind.v.01'), Synset('cognition.n.01'), Synset('use.v.01'), Synset('apply.v.02'), Synset('apply.v.03'), Synset('put_on.v.07'), Synset('lend_oneself.v.01'), Synset('give.v.20'), Synset('practice.v.04'), Synset('enforce.v.01'), Synset('apply.v.09'), Synset('apply.v.10'), Synset('mathematics.n.01'), Synset('science.n.01'), Synset('skill.n.02'), Synset('fundamentals.n.01'), Synset('fundamental.n.01'), Synset('fundamental.n.02'), Synset('specialization.n.01'), Synset('specialization.n.02'), Synset('specialization.n.03'), Synset('solution.n.01'), Synset('solution.n.02'), Synset('solution.n.03'), Synset('solution.n.04'), Synset('solution.n.05'), Synset('complex.n.01'), Synset('complex.n.02'), Synset('complex.n.03'), Synset('building_complex.n.01'), Synset('complex.a.01'), Synset('problem.n.01'), Synset('problem.n.02'), Synset('trouble.n.01')]

In [58]:
cos_df = pd.read_csv('co list.csv',header=None,encoding = 'unicode_escape')
cos_df.columns=['sub_code','Cos']
cos_df.shape

(28, 2)

In [59]:
cos_df.head()

      sub_code                                                Cos
0  UBT304C CO1  Ability to interpret principles of bioenergeti...
1  UBT304C CO2  Ability to understand Carbohydrate metabolism ...
2  UBT304C CO3  Ability to recognize the importance of Lipid m...
3  UBT304C CO4  Ability to understand the origin of atom in th...
4  UBT304C CO5  Ability to comprehend Nucleic acid metabolism ...

In [61]:
co_tokens=[]
for co in cos_df['Cos']:
    co_tokens.append(word_tokenize(co.lower()))

In [62]:
print(cos_df['Cos'])

0     Ability to interpret principles of bioenergeti...
1     Ability to understand Carbohydrate metabolism ...
2     Ability to recognize the importance of Lipid m...
3     Ability to understand the origin of atom in th...
4     Ability to comprehend Nucleic acid metabolism ...
5     Ability to explain Amino acid metabolism and i...
6     Ability to know the basic concepts of Microbio...
7     Ability to understand the techniques to study ...
8     Capable to analyze the structure of different ...
9     Capable to interpret the techniques used to gr...
10    Ability to analyse the different techniques to...
11    Ability to discuss the causative organisms of ...
12    Ability to analyse the applied techniques in t...
13    Ability to comprehend the applications in the ...
14    Apply the knowledge in identifying the structu...
15    Ability to classify and analyze the mechanism ...
16    Ability to understand the concepts of post tra...
17    Analyse the details of gene regulation in euka...
18    Apply the knowledge in identifying super secon...
19    Interpret and analyze the cellular functions, ...
20    Define the different modes of heat transfer an...
21    Solve the problems on different types of heat ...
22    Apply the general design considerations for he...
23    Define and explain the different types of mass...
24    Indentify the mass transfer and solve the prob...
25    Calculate the no of theoretical plates in Dist...
26    apply the different techniques like extraction...
27       Solve the problems on mass transfer operations
Name: Cos, dtype: object

In [63]:
print(co_tokens[0])

['ability', 'to', 'interpret', 'principles', 'of', 'bioenergetics', 'of', 'high', 'energy', 'compounds']

In [64]:
co_words = []
for list_1 in co_tokens:
    co_main_words = []
    for word in list_1:
        if word not in eng_stopwords:
            if word not in co_main_words:
                co_main_words.append(word)
    co_words.append(co_main_words)

In [65]:
print(co_words[0])

['ability', 'interpret', 'principles', 'bioenergetics', 'high', 'energy', 'compounds']

In [66]:
for i in range(len(co_words)):
    for j in range(len(co_words[i])):
        lemm = wnet.lemmatize(co_words[i][j], pos='v')
        co_words[i][j] = lemm

In [67]:
print(co_words[0])

['ability', 'interpret', 'principles', 'bioenergetics', 'high', 'energy', 'compound']

In [68]:
print(po_synonym[0])

[Synset('engineer.n.01'), Synset('engineer.n.02'), Synset('engineer.v.01'), Synset('mastermind.v.01'), Synset('cognition.n.01'), Synset('use.v.01'), Synset('apply.v.02'), Synset('apply.v.03'), Synset('put_on.v.07'), Synset('lend_oneself.v.01'), Synset('give.v.20'), Synset('practice.v.04'), Synset('enforce.v.01'), Synset('apply.v.09'), Synset('apply.v.10'), Synset('mathematics.n.01'), Synset('science.n.01'), Synset('skill.n.02'), Synset('fundamentals.n.01'), Synset('fundamental.n.01'), Synset('fundamental.n.02'), Synset('specialization.n.01'), Synset('specialization.n.02'), Synset('specialization.n.03'), Synset('solution.n.01'), Synset('solution.n.02'), Synset('solution.n.03'), Synset('solution.n.04'), Synset('solution.n.05'), Synset('complex.n.01'), Synset('complex.n.02'), Synset('complex.n.03'), Synset('building_complex.n.01'), Synset('complex.a.01'), Synset('problem.n.01'), Synset('problem.n.02'), Synset('trouble.n.01')]

In [69]:
print(co_words[0])

['ability', 'interpret', 'principles', 'bioenergetics', 'high', 'energy', 'compound']

In [70]:
similarity = np.zeros([cos_df.shape[0],pos_df.shape[0]])
for i in range(len(po_synonym)):
    print('i:',i)
    for j in range(len(po_synonym[i])):
#         print('j:',j)
        for x in range(len(co_words)):
#             print('x:',x)
            for y in range(len(co_words[x])):
#                 print('y:',y)
#                 print(similarity[x][i])
#                 print(co_words[x][y])
#                 print(po_synonym[i][j])
                if len(wn.synsets(co_words[x][y])) != 0 :
#                     print('syn:',(wn.synsets(co_words[x][y])[0]).wup_similarity(po_synonym[i][j],brown_ic))
                    if (wn.synsets(co_words[x][y])[0]).wup_similarity(po_synonym[i][j],brown_ic) != None:
                        if (wn.synsets(co_words[x][y])[0]).wup_similarity(po_synonym[i][j],brown_ic) >= 0.5:
                            similarity[x][i] = similarity[x][i]+((wn.synsets(co_words[x][y])[0]).wup_similarity(po_synonym[i][j],brown_ic))
#                         print('sim:',similarity[x][i])
#                         print("####")

for i in range(similarity.shape[0]):
    for j in range(similarity.shape[1]):
        similarity[i][j] = similarity[i][j]/(len(co_words[i])*len(po_synonym[j]))
        similarity[i][j] = (similarity[i][j]*100)/3
        similarity[i][j] = round(similarity[i][j],ndigits=1)

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10
i: 11

In [71]:
for i in range(similarity.shape[0]):
    a = i+1
    b = max(similarity[i])
    c = min(similarity[i])
    print(a,b,c)

1 1.4 0.2
2 1.7 0.6
3 0.5 0.0
4 1.2 0.5
5 0.8 0.1
6 0.9 0.1
7 1.3 0.4
8 2.1 1.1
9 1.7 0.9
10 1.0 0.3
11 1.5 0.6
12 1.0 0.3
13 2.6 1.5
14 1.6 0.6
15 1.6 0.8
16 1.5 0.6
17 1.6 0.9
18 1.8 0.9
19 2.2 1.0
20 1.4 0.7
21 1.0 0.3
22 1.1 0.3
23 1.8 0.9
24 1.3 0.4
25 1.1 0.3
26 0.5 0.0
27 1.4 0.6
28 1.7 0.6

In [72]:
map_df = pd.DataFrame(similarity, columns = ['PO1', 'PO2', 'PO3', 'PO4', 'PO5', 'PO6', 'PO7', 'PO8', 'PO9', 'PO10', 'PO11', 'PO12'])
map_df.insert(0,"Subject code",cos_df['sub_code'])

In [73]:
map_df.head()

  Subject code  PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0  UBT304C CO1  1.4  0.9  1.0  1.2  0.9  0.6  0.7  1.0  0.2   0.3   0.6   0.5
1  UBT304C CO2  0.9  0.9  1.0  0.6  1.2  1.0  1.7  0.7  0.8   0.8   0.6   1.5
2  UBT304C CO3  0.4  0.2  0.3  0.3  0.4  0.1  0.5  0.0  0.2   0.1   0.1   0.4
3  UBT304C CO4  0.8  0.8  1.0  0.5  0.9  0.8  1.1  0.6  1.1   0.7   0.7   1.2
4  UBT304C CO5  0.6  0.2  0.5  0.3  0.5  0.3  0.8  0.1  0.2   0.2   0.1   0.5

In [77]:
y = pd.DataFrame()
y = map_df.head()
y

  Subject code  PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0  UBT304C CO1  1.4  0.9  1.0  1.2  0.9  0.6  0.7  1.0  0.2   0.3   0.6   0.5
1  UBT304C CO2  0.9  0.9  1.0  0.6  1.2  1.0  1.7  0.7  0.8   0.8   0.6   1.5
2  UBT304C CO3  0.4  0.2  0.3  0.3  0.4  0.1  0.5  0.0  0.2   0.1   0.1   0.4
3  UBT304C CO4  0.8  0.8  1.0  0.5  0.9  0.8  1.1  0.6  1.1   0.7   0.7   1.2
4  UBT304C CO5  0.6  0.2  0.5  0.3  0.5  0.3  0.8  0.1  0.2   0.2   0.1   0.5

In [80]:
co_po_mapping = pd.read_excel('co_po mapping.xlsx')

In [82]:
co_po_map = pd.DataFrame(co_po_mapping)

In [85]:
x = co_po_map.head()
x

    Unnamed: 0  PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0  UBT304C CO1    1    2    3    0    0    0    3    3    0     0     0     0
1  UBT304C CO2    2    3    3    2    0    0    2    3    0     0     0     0
2  UBT304C CO3    2    3    3    3    0    3    2    2    0     0     0     0
3  UBT304C CO4    3    3    3    2    0    2    2    2    0     0     0     0
4  UBT304C CO5    2    2    2    2    0    1    2    2    0     0     0     0

In [88]:
for i in range(1,len(y)):
    print(x.iloc[i]-y.iloc[i])

PO1             1.1
PO10           -0.8
PO11           -0.6
PO12           -1.5
PO2             2.1
PO3               2
PO4             1.4
PO5            -1.2
PO6              -1
PO7             0.3
PO8             2.3
PO9            -0.8
Subject code    NaN
Unnamed: 0      NaN
Name: 1, dtype: object
PO1             1.6
PO10           -0.1
PO11           -0.1
PO12           -0.4
PO2             2.8
PO3             2.7
PO4             2.7
PO5            -0.4
PO6             2.9
PO7             1.5
PO8               2
PO9            -0.2
Subject code    NaN
Unnamed: 0      NaN
Name: 2, dtype: object
PO1             2.2
PO10           -0.7
PO11           -0.7
PO12           -1.2
PO2             2.2
PO3               2
PO4             1.5
PO5            -0.9
PO6             1.2
PO7             0.9
PO8             1.4
PO9            -1.1
Subject code    NaN
Unnamed: 0      NaN
Name: 3, dtype: object
PO1             1.4
PO10           -0.2
PO11           -0.1
PO12           -0.5
PO2             1.8
PO3             1.5
PO4             1.7
PO5            -0.5
PO6             0.7
PO7             1.2
PO8             1.9
PO9            -0.2
Subject code    NaN
Unnamed: 0      NaN
Name: 4, dtype: object

1